<h1>About</h1>
<p>個人倉儲：<a href="https://github.com/40823204/cd2021">https://github.com/40823204/cd2021</a></p>
<p>兩人小組成員：<a href="https://40823220.github.io/cd2021/content/About.html">40823220</a></p>
<p>兩人小組倉儲：<a href="https://github.com/40823204/stage1-bg24">https://github.com/40823204/stage1-bg24</a></p>
<p>四人小組成員:<a href="https://40823228.github.io/cd2021/content/index.html">40823228</a> <a href="https://40823242.github.io/cd2021/content/index.html">40823242</a> <a href="https://40823220.github.io/cd2021/content/index.html">40823220</a></p>
<h1>stage1</h1>
<p>主題:升降機構</p>
<p>繪圖:40823220</p>
<p>模擬:40823204</p>
<p>網頁編輯:50823204</p>
<h3>w1</h3>
<p>進度</p>
<p>1.建立網頁</p>
<p>2.Leo</p>
<p>3.ssh</p>
<p><img alt="" height="290" src="/images/chrome_dhBvpO7Rld.png" width="380"/></p>
<p>4.影片</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/5hpsTemq_AI" width="560"></iframe></p>
<h2>w2-3</h2>
<p><strong>小組繪圖</strong></p>
<p>主題：升降裝置</p>
<p>動機：<span>大型可用來載人，小型可用在各種自動化機械</span></p>
<p><strong>分配工作：</strong></p>
<p>舊版：40823220設計</p>
<p>新版：40823204修改</p>
<p><img alt="" height="250" src="/images/chrome_Z27NVDM1FD.png" width="200"/><img alt="" height="250" src="/images/chrome_x3EvRaVO44.png" width="200"/></p>
<p><strong>參考影片</strong></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/FFMZxfj-vSE" width="560"></iframe></p>
<p><strong>影片</strong></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/b_QrnGpD-zU" width="560"></iframe><span></span></p>
<h4>新版</h4>
<p><strong>圖檔資料下載處 </strong><strong><a href="/downloads/升降裝置.zip">升降裝置.zip</a></strong></p>
<p><strong>設計要點：</strong></p>
<p><b>此版新增了<span style="color: #ff0000;">驅動輪</span>和<span style="color: #ff0000;">蘇格蘭軛<span style="color: #000000;">用以</span></span>驅動裝置</b></p>
<p>蘇格蘭軛的旋轉係數 (他會直接影響裝置的上升、下降<span style="color: #ff0000;">高度</span>)</p>
<p><img alt="" height="180" src="/images/S__77619202.jpg" width="200"/> <img alt="" height="180" src="/images/驅動輪2.gif" width="200"/> <img alt="" height="180" src="/images/蘇格蘭軛.gif" width="200"/></p>
<p><strong>成品圖</strong></p>
<p><img alt="" height="270" src="/images/組合3_0.jpg" width="300"/></p>
<h4>舊版</h4>
<p><strong>此裝置與新版的差異為<span style="color: #ff0000;">無驅動機構</span></strong></p>
<p><strong><span style="color: #ff0000;"></span></strong></p>
<p><span style="color: #000000;"><strong>無驅動依據的組合圖</strong></span></p>
<p><span style="color: #000000;"><strong><img alt="" height="180" src="/images/組合1.jpg" width="220"/></strong></span></p>
<p><span style="color: #000000;"><strong>修改前、後之對照圖</strong></span></p>
<p><span style="color: #000000;"><strong><img alt="" height="220" src="/images/底板.jpg" width="250"/> <img alt="" height="220" src="/images/底板4_0.jpg" width="250"/></strong></span></p>
<h2>w4報告</h2>
<p>本周內容</p>
<p><strong>1.本週進度主要是用CoppsliaSim做模擬</strong></p>
<p><strong><img alt="" height="220" src="/images/coppeliaSim_pF3MoMV1ub.png" width="280"/></strong></p>
<p><strong>2.解決小組網站合併衝突的問題、新增協同者</strong></p>
<h5>pull request 問題</h5>
<h4><strong>問題：協同網站更新後，另一組員的網頁內容未更新</strong></h4>
<p>解決方法：</p>
<p>1.pull之前要進.git改config -把學號改成對方的 (組長不用)</p>
<p>2.在倉儲名稱下git pull</p>
<p>3.push前在config改回自己的學號(組長不用)</p>
<p> 4.push完成新增pull request (組員才要做)</p>
<p><strong>3.報告製作</strong></p>
<p><strong>4.影片</strong></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/xJpD0zKPf2I" width="560"></iframe></p>
<h5>CoppeliaSim測試</h5>
<p><span>問題：主動輪旋轉時會卡卡的，主動輪帶動滑軌，滑軌會跑出軌道外</span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/UD4emqYJmWo" width="560"></iframe></p>
<h2>PDF</h2>
<p><strong>PDF連結網址：</strong><a href="/downloads/2021-協同產品設計實習-stage1-bg24.pdf">2021-協同產品設計實習-stage1-bg24.pdf</a></p>
<h5></h5>
<h2>coppelia模擬</h2>
<p><span>在stage1報告中還不了解coppelia的操作,但後來經過摸索及學習後,我逐漸領悟出其訣竅,以下是我模擬的歷程,最終結果我放在stage3中的task2下</span></p>
<p><span>延續stage1未完成的模擬部分，繼續進行模擬</span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/UD4emqYJmWo" width="560"></iframe></p>
<p><strong>W11模擬   模擬檔:<a href="/downloads/6666677.7z">測試1</a></strong></p>
<p>問題:把joint於旋轉軸結合時，驅動時無法使連桿前後滑動</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/z2rzpaUS4Z0" title="YouTube video player" width="560"></iframe></p>
<p><strong>W12模擬   模擬檔:<a href="/downloads/88.zip">測試2</a></strong></p>
<p>內容:依上面視頻內容的問題，改變joint的連接進行模擬</p>
<p>問題:還無法將旋轉軸及滑塊產生相對運動</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/KnqvqlKtw6s" title="YouTube video player" width="560"></iframe></p><h1>stage2</h1>
<p>主題:搬運車</p>
<p>繪圖:40823204、40823220</p>
<h3>w5 討論</h3>
<p><span>03/22討論主題</span></p>
<p><span>最初與組員討論的是設計遊戲設施</span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/ZHwuVze7hMQ" title="YouTube video player" width="560"></iframe></p>
<p>3/25與40823220組員討論後我們決定設計搬運車，並與其他組員討論後，先決定分兩組設計一組機構，再決定</p>
<h2>w6-7</h2>
<p><strong>四人小組運作模式:先分為兩小組各自設計一組方案，待各組接完成設計後，再決定要選哪個方案</strong></p>
<p><strong>方案1:40823204/40823220設計</strong></p>
<p>主題:搬運車</p>
<p>動機:主要用於工地裝水泥的箱子的搬運，達到工作上安全、省時、省力的要求</p>
<p>優點:操作簡單，使用方便，成本低</p>
<p>缺點:雖然橘色大型塑膠箱使用很廣泛，但本裝置只適用於一種尺寸的箱子，而且箱子兩側必須有"耳朵"</p>
<p><strong>資料下載處-</strong><a href="/downloads/搬運機.zip">搬運機.zip</a></p>
<p><strong>搬運車機構圖</strong></p>
<p><img alt="" height="250" src="/images/ApplicationFrameHost_5FtAP6tV2v.png" width="300"/></p>
<p><img alt="" height="250" src="/images/ApplicationFrameHost_ZEx4UBcWNN.png" width="300"/></p>
<p><strong>搬運箱子</strong>-參考一般常見橘色塑膠桶，方便搬運車機構作動時連桿能扣住雙耳</p>
<p><img alt="" height="250" src="/images/Inventor_ZsBpoi9BGm.png" width="300"/>    <img alt="" height="250" src="/images/21512722300522_225_m.jpg" width="300"/></p>
<p>參考影片</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/lBvupDcRfts" title="YouTube video player" width="560"></iframe></p>
<p></p>
<h2>w8 solidworks模擬動畫</h2>
<p>程式模擬</p>
<p>1.使用coppeliasim模擬時，由於組合零件多達70種，導致我們模擬不出來，</p>
<p>經由組員討論，決定使用solidworks和inventor分別模擬</p>
<p><strong>(一)使用solidworks2014做動畫模擬</strong></p>
<p>圖檔/動畫下載區:<a href="/downloads/搬運機sd.zip">搬運機sd.zip</a>   <a href="/downloads/搬運機video.zip">搬運機video.zip</a></p>
<p><img alt="" height="200" src="/images/SLDWORKS_v3v8sYh3Vn.png" width="300"/></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/xQkyIcfL3Gg" title="YouTube video player" width="560"></iframe></p>
<p><strong>(二)使用inventor 模擬動畫</strong></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/7b0H24pmaM0" title="YouTube video player" width="560"></iframe></p>
<h2>w9報告</h2>
<p>個人心得</p>
<p><span>有了二人小組的經驗，我們在四人小組中討論起來更加得心印手，分配工作上不像在二人小組的時候，有很多東西要處 理，工作上較為輕鬆，可以依個人的專長分配不同的工作， 但在網站上的維護就提升了許多，需要大家一起溝通調協。</span></p>
<h2>coppelia</h2>
<p>在stage2報告中我們還沒模擬成功,但後來經過摸索及學習後,我逐漸領悟出其訣竅,以下是我模擬的歷程,最終結果我放在stage3中的task2下</p>
<p><strong>第一次模擬</strong></p>
<p>內容:針對每個接點進行軸的連接</p>
<p>問題:因還未寫入程式,無法進行控制</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/uT7ikfRPrn0" title="YouTube video player" width="560"></iframe></p>
<p><strong>第二次測試</strong></p>
<p>內容:寫入lua程式</p>
<p>檔案下載處:<a href="/downloads/S2-2.zip">搬運機.zip</a></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/4c9rG2s4jek" title="YouTube video player" width="560"></iframe></p><h1>stage3</h1>
<p>九人小組成員:40823204 40823205 40823220 40823221 40823228 40823237 40823242 40823250 40832244</p>
<h3>task2</h3>
<p>作業內容:請各組員分別將個人在 stage1 與 stage2 所完成的 coppeliasim 場景, 採 Python remote API 進行操控, 並將過程拍成影片後, 放在個人與分組網站上.stage3 專案中的 CoppeliaSim 請一律使用<span> </span><a href="http://a.kmol.info:88/CoppeliaSimEdu_4.2.0.7z">4.2.0 版</a>.</p>
<h3>s1</h3>
<p><strong>stage1升降裝置</strong></p>
<p><strong>1.程式控制方式:python remote api</strong></p>
<p>內容:在stage1報告中,因還未熟悉coppelia的操作還未將coppelia模擬出來及寫入程式,但經過後來自己慢慢摸索和嘗試,已經把整體大概都模擬出來了,以下是我用remote api對場景做控制的畫面</p>
<p>coppelia檔案下載處:<a href="/downloads/S1-244.zip">S1-244.zip</a></p>
<p>api.py檔案下載處:</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/861JHEgRNk0" title="YouTube video player" width="560"></iframe></p>
<p><strong>2.程式控制方式:Lua script</strong></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/5KOSX5AEUPo" title="YouTube video player" width="560"></iframe></p>
<p><strong></strong></p><h3>s2</h3>
<p><strong>stage2搬運車</strong></p>
<p><strong>1.程式控制方式:python remote api</strong></p>
<p>內容:在stage2報告中,我們未將coppelia模擬出來及寫入程式,但經過後來自己慢慢摸索和嘗試,已經把整體大概都模擬出來了,以下是我用remote api對場景做控制的畫面</p>
<p>coppelia檔案下載處在stage2中</p>
<p>api.py檔案下載處:<a href="/downloads/S2-24444.zip">S2-2.zip</a><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/H0m3scUj7iM" title="YouTube video player" width="560"></iframe></p>
<p><strong></strong></p>
<p></p>
<p><strong></strong></p><h2>四驅車</h2>
<h3>w12-13</h3>
<p>進度:coppelia模擬+lua控制</p>
<p>檔案下載處:<a href="/downloads/S3-2.zip">四驅車</a></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/1p7-JPmSXnQ" title="YouTube video player" width="560"></iframe></p>
<h1>gitlab</h1>
<p>gitlab創建步驟</p>
<p>1.新增空的倉儲</p>
<p>點選 creat blank project/repository</p>
<p><img alt="" height="200" src="/images/chrome_ptapUShISa.png" width="300"/></p>
<p>2.輸入要同步的倉儲名稱</p>
<p><img alt="" height="200" src="/images/chrome_i6AF2n5lX9.png" width="300"/></p>
<p>3.進入小黑窗執行以下步驟</p>
<p><img alt="" height="150" src="/images/cmd_cx5ascNJKL - 複製.png" width="300"/></p>
<p><img alt="" height="150" src="/images/cmd_Acwys58oyS.png" width="300"/></p>
<p><img alt="" height="150" src="/images/cmd_4AO0C2Q6aL.png" width="300"/></p>
<p>4.記得進到ci.yml檔把master改成main</p>
<p><img alt="" height="120" src="/images/SciTE_H7ENEgnAaY - 複製.png" width="200"/></p>
<p></p>
<h1>影片區</h1>
<h2>stage1每周影片區</h2>
<p>W1</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/5hpsTemq_AI" width="560"></iframe></p>
<p>W2-3</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/b_QrnGpD-zU" width="560"></iframe></p>
<p>W4</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/xJpD0zKPf2I" width="560"></iframe></p>
<p><span></span>w4 上台報告</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/7pR3s6MWCEE" title="YouTube video player" width="560"></iframe></p>
<h2>stage2每周影片區</h2>
<p>討論主題</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/ZHwuVze7hMQ" title="YouTube video player" width="560"></iframe>04/14小組討論</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/zgNs5d8csDY" title="YouTube video player" width="560"></iframe></p>
<p>實體影片介紹</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/P-eBZLKueTQ" title="YouTube video player" width="560"></iframe></p>
<p>使用solidworks2014做動畫模擬<iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/xQkyIcfL3Gg" title="YouTube video player" width="560"></iframe></p>
<p>w9報告影片</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/wFfzY5aO7r8" title="YouTube video player" width="560"></iframe></p>
<h1>W5</h1>
<p><strong>2a-stage1</strong></p>
<p>影片連結處</p>
<p><a href="https://drive.google.com/drive/folders/1jB-7Kkpi2ODu6UPnkQ5OmR_EYWKVF2nH?usp=sharing">https://drive.google.com/drive/folders/1jB-7Kkpi2ODu6UPnkQ5OmR_EYWKVF2nH?usp=sharing</a></p>
<table style="width: 433.667px;">
<tbody>
<tr style="height: 17px;">
<td style="width: 63px; height: 17px;"><strong>組別</strong></td>
<td style="width: 64px; height: 17px;"><strong>影片時間</strong></td>
<td style="width: 168.667px; height: 17px;"><strong>名稱</strong></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第1組</td>
<td style="width: 64px; height: 16px;">3:40</td>
<td style="width: 168.667px; height: 16px;">cd2021_stage1_2a_g1.mp4</td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第2組</td>
<td style="width: 64px; height: 16px;">3:04</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g2.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第3組</td>
<td style="width: 64px; height: 16px;">2:24</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g3.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第4組</td>
<td style="width: 64px; height: 16px;">3:19</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g4.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第5組</td>
<td style="width: 64px; height: 16px;">3:38</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g5.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第6組</td>
<td style="width: 64px; height: 16px;">5:50</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g6.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第7組</td>
<td style="width: 64px; height: 16px;">2:26</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g7.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第8組</td>
<td style="width: 64px; height: 16px;">1:33</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g8.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第9組</td>
<td style="width: 64px; height: 16px;">1:18</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g9.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第10組</td>
<td style="width: 64px; height: 16px;">3:08</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g10.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第11組</td>
<td style="width: 64px; height: 16px;">1:04</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g11.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第12組</td>
<td style="width: 64px; height: 16px;">1:59</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g12.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第13組</td>
<td style="width: 64px; height: 16px;">2:17</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g13.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第14組</td>
<td style="width: 64px; height: 16px;">2:31</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g14.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第15組</td>
<td style="width: 64px; height: 16px;">0:50</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g15.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第16組</td>
<td style="width: 64px; height: 16px;">1:09</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g16.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第17組</td>
<td style="width: 64px; height: 16px;">2:31</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g17.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第18組</td>
<td style="width: 64px; height: 16px;">1:57</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g18.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第19組</td>
<td style="width: 64px; height: 16px;">2:18</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g19.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第20組</td>
<td style="width: 64px; height: 16px;">4:06</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g20.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第21組</td>
<td style="width: 64px; height: 16px;">2:20</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g21.mp4</span></td>
</tr>
<tr style="height: 16.4792px;">
<td style="width: 63px; height: 16.4792px;">第22組</td>
<td style="width: 64px; height: 16.4792px;">5:13</td>
<td style="width: 168.667px; height: 16.4792px;"><span>cd2021_stage1_2a_g22.mp4</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 63px; height: 16px;">第23組</td>
<td style="width: 64px; height: 16px;">8:19</td>
<td style="width: 168.667px; height: 16px;"><span>cd2021_stage1_2a_g23.mp4</span></td>
</tr>
</tbody>
</table>